<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<div class="container">
    <div class="col-md-12 mt-4 mr-auto ml-auto p-4 container-form">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">COLORES</h1>
                <hr>
            </div>
            <div class="form-group col-md-12">
                <div class="row">
                    <div class="col-8 col-md-10">
                        <input type="search" class="form-control" name="filterColor" [(ngModel)]="filterColor"  placeholder="buscar color ...">
                    </div>
                    <div class="col-4 col-md-2">
                        <app-create-color [typeButton]="'create'" [id]="''" (reload)="reload()"></app-create-color>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                            <tr class="text-center">
                                <th scope="col" style="min-width: 20px;">#</th>
                                <th scope="col" style="min-width: 50px;">Nombre</th>
                                <th scope="col" style="min-width: 50px;">Estado</th>
                                <th scope="col" style="min-width: 100px;"></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listColores | filter: filterColor; let i = index" >
                                    <th scope="row" class="vertical-align text-center">{{ i + 1 }}</th>
                                    <td class="vertical-align">{{ item.nombre }}</td>
                                    <ng-container *ngIf="item.estado; else elseActivo">
                                        <td class="vertical-align">ACTIVO</td>
                                    </ng-container>
                                    <ng-template #elseActivo>
                                        <td class="vertical-align">INACTIVO</td>
                                    </ng-template>
                                    <td class="vertical-align text-center">
                                        <app-create-color [typeButton]="'update'" [id]="item._id" (reload)="reload()"></app-create-color>
                                        <app-delete-color [id]="item._id" (reload)="reload()"></app-delete-color>
                                    </td>
                                </tr>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>