<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<div class="container">
    <div class="col-md-12 mt-4 mr-auto ml-auto p-4 container-form">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">PRODUCTOS</h1>
                <hr>
            </div>
            <div class="form-group col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <input type="search" class="form-control" name="filterProducto" [(ngModel)]="filterProducto"  placeholder="buscar producto ingreso ...">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                            <tr class="text-center">
                                <th scope="col" style="min-width: 20px;">#</th>
                                <th scope="col" style="min-width: 50px;">Modelo</th>
                                <th scope="col" style="min-width: 50px;">T. Cuero</th>
                                <th scope="col" style="min-width: 50px;">Color</th>
                                <th scope="col" style="min-width: 50px;">Categoria</th>
                                <th scope="col" style="min-width: 50px;">Talla</th>
                                <th scope="col" style="min-width: 50px;">Cantidad</th>
                                <th scope="col" style="min-width: 50px;">Precio</th>
                                <th scope="col" style="min-width: 50px;"></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listProductos | filter: filterProducto; let i = index" >
                                    <th scope="row" class="vertical-align text-center">{{ i + 1 }}</th>
                                    <td class="vertical-align">{{ item.modelo }}</td>
                                    <td class="vertical-align">{{ item.tipo_cuero }}</td>
                                    <td class="vertical-align">{{ item.color }}</td>
                                    <td class="vertical-align">{{ item.categoria }}</td>
                                    <td class="vertical-align">{{ item.tallas }}</td>
                                    <td class="vertical-align">{{ item.cantidad }}</td>
                                    <td class="vertical-align">S/. {{ item.precio }}</td>
                                    <td class="vertical-align text-center">
                                        <app-create-solicitud-envio [typeButton]="'create'" [id]="item.producto_talla_id" [cantidad]="item.cantidad" (reload)="reload()"></app-create-solicitud-envio>
                                    </td>
                                </tr>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>