<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#"><img src="/assets/imagenes/logo.jpg" class="img-logo" alt="Deyfus"></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"><i
            class="fas fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" href="javascript:;" routerLink="/dashboard/home">Inicio</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" href="javascript:;" routerLink="/views/modelos">Modelos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="ddProducto" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"> Producto
                </a>
                <div class="dropdown-menu" aria-labelledby="ddProducto">
                    <a class="dropdown-item" href="javascript:;" routerLink="/views/productos">Productos</a>
                    <a class="dropdown-item" href="javascript:;" routerLink="/views/productos-ingreso">Productos Ingreso</a>
                    <a class="dropdown-item" href="javascript:;" routerLink="/views/productos-egreso">Productos Egreso</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="ddOtros" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"> Otros
                </a>
                <div class="dropdown-menu" aria-labelledby="ddOtros">
                    <a class="dropdown-item" href="javascript:;" routerLink="/views/categorias">Categorias</a>
                    <a class="dropdown-item" href="javascript:;" routerLink="/views/colores">Colores</a>
                    <a class="dropdown-item" href="javascript:;" routerLink="/views/tiendas">Tiendas</a>
                    <a class="dropdown-item" href="javascript:;" routerLink="/views/tipos-cuero">Tipos de Cuero</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item" style="margin: 2px;">
                <a class="btn btn-danger m-1" href="javascript:;" routerLink="/views/alertas">
                    <i class="fas fa-bell mr-2"></i> <span class="badge badge-light">0</span>
                </a>
            </li>
            <li class="nav-item" style="margin: 6px;">
                <select class="form-control" (change)="changeTienda($event)">
                    <ng-container *ngFor="let item of listTiendas">
                        <option value="{{ item._id }}">{{ item.nombre }}</option>
                    </ng-container>
                </select>
            </li>
            <li class="nav-item dropdown" style="margin: 2px;">
                <a class="nav-link dropdown-toggle" href="#" id="ddUsuario" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="{{listUsuario.avatar_url}}" class="img-perfil">
                    {{listUsuario.nombres}} {{listUsuario.apellido_paterno}} {{listUsuario.apellido_materno}}
                </a>
                <div class="dropdown-menu" aria-labelledby="ddUsuario">
                    <a class="dropdown-item" href="javascript:;" routerLink="/views/perfil">Mi Perfil</a>
                    <hr>
                    <a class="dropdown-item" (click)="cerrarSesion()" style="cursor: pointer;">Cerrar Sesión</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>

<footer class="navbar-dark bg-dark pt-5">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">DEYFUS</h5>
                <p style="color: rgba(255,255,255,0.8);">El cuero que va contigo. Disfruta la moda en tus pies</p>

            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">REDES SOCIALES</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.facebook.com/deyfus/" class="link"><i class="fa fa-facebook"
                                aria-hidden="true"></i> Siganos en Facebook</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3" style="color: rgb(255,255,255);">&copy; 2020 Copyright: GINA
        THALIA DE LA CRUZ HUAMANI</div>
</footer>