.img-logo {
    width: 30px;
    height: 30px;
}

.img-perfil {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

::ng-deep html {
    min-height: 100%;
    position: relative;
}

::ng-deep .container {
    margin-bottom: 250px;
}

.nav-item select {
    background: transparent;
    border: none;
    padding: 0;
    color: rgba(255, 255, 255, 0.8);
}

.nav-item select option {
    color: rgb(0, 0, 0);
}

.nav-item select:hover {
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.8);
}

.nav-item select:focus {
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.8);
    outline: none;
}

footer {
    position: absolute;
    top: 100;
    bottom: 0;
    width: 100%;
}