<button type="button" class="btn btn-md btn-info btn-block" (click)="openModal(content)" [hidden]="hiddenCreateButton">Enviar a tienda</button>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Producto Egreso</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formProductoEgreso" (ngSubmit)="saveSubmitForm()">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="tienda">Tiendas</label>
                    <select
                        id="tienda"
                        class="form-control"
                        formControlName="tienda"
                        [ngClass]="{ 'is-invalid': validatorFormStatus && validatorForm.tienda.errors }">
                        <option value="">Seleccione</option>
                        <ng-container *ngFor="let tienda of listTiendas">
                            <option value="{{ tienda._id }}">{{ tienda.nombre }}</option>
                        </ng-container>
                    </select>
                    <div *ngIf="validatorFormStatus && validatorForm.tienda.errors" class="invalid-feedback">
                        <div *ngIf="validatorForm.tienda.errors.required">* Obligatorio</div>
                    </div>
                </div>
                
                <div class="col-md-6 form-group">
                    <label for="cantidad">Cantidad</label>
                    <input
                        id="cantidad"
                        type="number"
                        class="form-control"
                        formControlName="cantidad"
                        min="1"
                        placeholder="cantidad"
                        [ngClass]="{ 'is-invalid': validatorFormStatus && validatorForm.cantidad.errors }">
                    <div *ngIf="validatorFormStatus && validatorForm.cantidad.errors" class="invalid-feedback">
                        <div *ngIf="validatorForm.cantidad.errors.required">* Obligatorio</div>
                        <div *ngIf="validatorForm.cantidad.errors.min">* Valor mínimo 1</div>
                        <div *ngIf="validatorForm.cantidad.errors.max">* Valor máximo {{cantidad}}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer row">
                <button type="submit" class="btn btn-info">Guardar</button>
                <button type="button" class="btn btn-outline-danger" (click)="d('Cross click')">Salir</button>
            </div>
        </form>
    </div>
</ng-template>